.photoid-oce {
	background-color: white;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 4);
	text-align: center;
	margin: 80px;
	padding : 10px 100px;
}
.intro-photooce {
	display: grid;
	grid-template-columns: 1fr 2fr;  
	grid-gap: 16px;
}
.photoid-oce img {
	width: 110%;
	height: 60;
}

@media (min-width: 576px) {
	.intro-photooce {
	grid-template-columns: 1fr 1fr;
	}	
}

@media (min-width: 768px) {
.intro-photooce {
	grid-template-columns: 1fr 2fr;
		}	
}

.description-cv img {
	width: 50%;
	height: 50%;
	object-fit: cover;
}
.description-cv {
	background-color: white;
	padding: 16px;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 4);
	text-align: center;
}